*.db
*.i64
*.o
*.so
*.log
*.tlog
*.swp
.gdb_history
data/*
obj-intel64/*
peda-session*
pin.log
pintool.log
private/*
www/*
doc/*

libz3-static.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
capstone.dll
Microsoft.Z3.dll
libz3.dll
libz3java.dll
msvcp110.dll
msvcr110.dll
vcomp110.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app

*.opensdf
*.sdf
*.pdb
*.exp

*.id*
*.nam

*.plw
*.suo

# This file should be generated just before compile the program. 
# i#20 For some reason the script can not generate this file at Appveyor site. Let's ignore it for a while.
# VERSION_NUMBER
